*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size:14px;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

body{
    position: relative;
    height: 100vh;
    background: url("https://source.unsplash.com/random/3000x3000");
background-size: cover;
    background-repeat: no-repeat;
}
main{
    padding: 5%;
}

h1{
    font-family: Ubuntu;
    text-shadow: 2px 2px white;
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 3vh;
    font-size: 2rem;
    padding-left:15%;
    padding-right:15%;


}

article{
    text-align: center;
    font-family: Ubuntu;
    background: hsla(349, 22%, 67%, 0.3);
    padding: 2%;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5rem;
}

p{
    padding: 5px;
}

.capital{
    font-size: 1.5em;
    padding-bottom: 10px;
}
