@font-face {
    font-family: Monoton;
    src: url("../fonts/Monoton/Monoton-Regular.ttf");
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;

}

body{
    height: 100vh;
    background: rgb(27,29,33);
    position: relative;
}

header div nav{
    position: absolute;
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
}
header nav ul li{
    display: inline;
    text-decoration: none;
    padding-right: 50px;
    

}

header nav ul li a{

    text-decoration: none;
    padding-left: 10px;
    color: grey;


}



header div nav ul li:nth-child(1){
    position: absolute;
    left:50px; 
    bottom: 80vh; 
    font-family: Monoton;
    font-size: 25px;

}

header nav ul li:nth-child(2){
    position: absolute;
    left:120px;
    top: 13px;  
    font-size: 14px; 
}

header nav ul li a:hover{
    color: white;

}

h1{
    font-family: Ubuntu;
    color: rgb(189,189,191);
    position: absolute;
    top: 40%;
    left: 15%;
}

.shop{

    font-family: Ubuntu;
    color: orange;
    font-size: 9px;
    position: absolute;
    top: 57%;
    left: 15%;
    background: rgb(27,29,33);
    border: none;

}

.shop::before {
    content: "───";
    margin-right: 2px;
}

.img1{
    position: absolute;
    top: 20%;
    left:30%;
}

.img2{
    position: absolute;
    top: 20%;
    left: 55%;
}

.img3{
    position: absolute;
    top: 20%;
    left: 80%;
}



main nav ul li{
    display: inline;

}

main nav ul li a{
    color: rgb(189,189,191);
    text-decoration: none;
    padding: 10px;
     
}

main nav ul li:nth-child(1){
position: absolute;
bottom: 7%;
left: 50px;
}

main nav ul li:nth-child(2){
    position: absolute;
    bottom: 7%;
    left:120px;
    }


main nav ul li:nth-child(3){
    position: absolute;
    bottom: 7%;
    left:190px;
    }

.left{
    background-color: rgb(27,29,33);
    border-radius: 50%;
    border: 1px solid orange;
    color: rgb(189,189,191);
    font-size: 20px;
    padding: 15px;
    position: absolute;
    bottom: 7%;
    left: 85%;
}

.right{
    background-color: rgb(27,29,33);
    border-radius: 60%;
    border: 1px solid orange;
    color: rgb(189,189,191);
    font-size: 20px;
    padding: 15px;
    position: absolute;
    bottom: 7%;
    left: 90%;

}

main nav ul li a:hover{
    color: white;
}

.left:hover{
    color: white;
    background-color: orange;
}

.right:hover{
    color: white;
    background-color: orange;
}


