span{color: red;}
nav ul{list-style: none;}
nav a{text-decoration-color: red;}
nav{background-color: darkgray;}
html{background-color:green;}
p a{text-decoration: none;}
p a{image-resolution: 400px 400px;}