@font-face {
    font-family: Poppins;
    src: url("../Fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: P_Display;
    src: url("../Fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;

}

body{
    height: 100vh;
    background-color: rgb(235, 237, 223);
    position: relative;
    
}

div{
    background-image: url("../img/woman.png");
    position: cover;
    position: absolute;
    height: 120vh;
    width: 120vh;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 50%;
    
    
}

h1{font-family: P_Display;
    text-transform: uppercase;
    font-size: 2rem;
    position: absolute;
    top: 200px;
    left: 80px;

}

span{
    font-size: 3rem;
}

article{
    font-family: Poppins;
    position: absolute;
    top: 350px;
    left: 80px;
}

button{
    font-family: Poppins;
    font-size: 1.2rem;
    position: absolute;
    top: 450px;
    left: 80px;
    border-radius: 10px;
  
    border: 1 solid black;
    background-color: rgb(233, 168, 61);
    padding: 7px 50px;
}