div {
    height: 150px;
    width: 150px;
    margin: 50px;
    background-color: #9BC1BC;
    border-width: 10px;
    border-style: solid;
    border-color: #F4F1BB  ;
    outline-width: 10px;
    outline-style: solid;
    outline-color: #ED6A5A;
    box-shadow: inset 0 0 0 5px #546A7B;
}
ul li::before {    content: "";  
    border-color: transparent #008eef;  
    border-style: solid;  
    border-width: 0.35em 0 0.35em 0.45em;  
    display: block;  
    height: 0;  
    width: 0;  
    left: -1em;  
    top: 0.9em;  
    position: relative;  }

